@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
    font-style: normal; 
}

a {
    text-decoration: none;
}

a:hover{
    color: yellow;
}
.header_menu_a{
    display: flex;
    padding: 0 42px;
    color: white;
}

body{
    background-color: #302C42;
}

.logo{
    display: flex;
    align-items: center;
}

.logo_hydra_text{
    width: 76px;
    height: 46px;
    margin-left: 15px;
}

.header_menu {
    display: flex;
    font-family: "Montserrat";
    
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
}

.header_logo_menu{
    display: flex;
    margin: 50px;
    align-items: center;
    justify-content: space-between;
}

.buttons{
}

.header_buttons_1{
    margin:0 38px;
    border-radius: 40px;
    color: white;
    border: 2px solid #FFF;
    background-color: #302C42;
    width: 154px;
    height: 48px;
}
.header_buttons_2{
    width: 155px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 40px;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    border: 2px solid #302C42;
}
.vector_1{
    z-index: 5;
    position: absolute;
    top: 170px;
    right: 0;;
    width: 377px;
    height: 845px;
    flex-shrink: 0;
}

.vector_2{
    z-index: 4;
    position: absolute;
    top: 0;
    right:134px;
    width: 377px;
    height: 845px;
    flex-shrink: 0;
}
.vector_3{
    z-index: 3;
    position: absolute;
    right: 2.5px;
    top: 420px;
}
.vector_4{
    z-index: 2;
    position: absolute;
    top: 274px;
    left: 2.5px;
}

.right_image_girl{
    position: absolute;
    right: 72px;
    z-index: 10;
    width: 490px;
    height: 426px;
    flex-shrink: 0;
    margin-right: 72px;
    border-radius: 100px 100px 100px 240px;
    background:     #333333b0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.text{
    display: flex;
    margin-top: 300px;
    flex-direction: column;

}
.text_1{
    display: flex;
    margin-left: 84px;
    font-family: Montserrat;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: white;
}

span{
    font-family: Montserrat;
    background: linear-gradient(92deg, #C0B7E8 -1.02%, #8176AF 36.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text_2{
    display: flex;
    margin-left: 84px;
    color: white;
    font-size: 46px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}