@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
    font-style: normal; 
}

a {
    text-decoration: none;
}

a:hover{
    color: yellow;
}
.header_menu_a{
    display: flex;
    padding: 0 42px;
    color: white;
}

body{
    background-color: #302C42;
}

.logo{
    display: flex;
    align-items: center;
}

.logo_hydra_text{
    width: 76px;
    height: 46px;
    margin-left: 15px;
}

.header_menu {
    display: flex;
    font-family: "Montserrat";
    
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
}

.header_logo_menu{
    display: flex;
    margin: 50px;
    align-items: center;
    justify-content: space-between;
}

.buttons{
}

.header_buttons_1{
    margin:0 38px;
    border-radius: 40px;
    color: white;
    border: 2px solid #FFF;
    background-color: #302C42;
    width: 154px;
    height: 48px;
}
.header_buttons_2{
    width: 155px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 40px;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    border: 2px solid #302C42;
}
.vector_1{
    float: right;
    width: 377px;
    height: 845px;
    flex-shrink: 0;
}

.vector_2{
    float: right;
}